<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andy.accountingandcancellationofmedicines">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".utils.MyApllication"
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@mipmap/medicine_ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".settings.Preferences" />
        <activity
            android:name=".views.implementation.SplashActivity_"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.implementation.LoginActivity_" />
        <activity android:name=".views.implementation.AdminActivity_" />
        <activity android:name=".views.implementation.AddMedicineActivity_" />
        <activity android:name=".views.implementation.ListMedicineActivity_" />
        <activity android:name=".views.implementation.CheckInClientActivity_" />
        <activity android:name=".views.implementation.ClientActivity_" />
    </application>

</manifest>